* {
    margin: 0;
    padding: 0;
}

.experience {
    background-color: #004643;
    padding: 20px;
}

.experience h2 {
    color: #f4ebd9;
    text-align: center;
    font-weight: bold;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 50px auto;
    z-index: 1;
}

.experience_container {
    padding: 10px 10px;
    position: relative;
    width: 50%;
    animation: movedown .5s linear forwards;
    opacity: 0;


}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.experience_container:nth-child(1) {
    animation-delay: 0s;
}

.experience_container:nth-child(2) {
    animation-delay: 1s;
}

.experience_container:nth-child(3) {
    animation-delay: 2s;
}

.experience_container:nth-child(4) {
    animation-delay: 3s;
}

.text_box {
    padding: 20px 30px;
    background: #f4ebd9;
    position: relative;
    border-radius: 6px;
    font-size: 15px;

    border: 2px solid #d98324;
    box-shadow: 0 2px 6px rgba(217, 131, 36, 1);

}

.text_box h2 {
    font-weight: 600;
    color: #d98324;
}

.text_box small {
    display: inline-block;
    margin-bottom: 15px;
    color: #004643;
    font-weight: bold;

}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.experience_container img {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 2;
}

.right-container img {
    left: -20px;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background: #f4ebd9;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 4s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}


@media screen and (max-width: 426px) {

    .experience {
        padding: 20px;
    }

    .timeline {
        margin: 50px auto;
    }

    .timeline::after {
        left: 20px;
    }

    .experience_container {
        width: 100%;
        margin: 30px auto;
        padding-left: 50px;
        padding-right: 30px;
    }

    .right-container {
        left: 0;
    }

    .right-container img,
    .left-container img {
        left: 0px;
    }

}