footer {
    background-color: #f4ebd9;
    color: black;
    font-family: Dmsans, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;


    padding-top: 72px;
    padding-bottom: 72px;
}

.footer_container {
    max-width: 95%;
    padding-left: 20px;
}

.footer_grid {
    display: grid;
    grid-template-columns: 1fr 290px 380px 1fr;
    grid-auto-columns: 1fr;
    gap: 16px;
}

.footer_logo {
    text-align: center;
}

.footer_logo img {
    background: white;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}



.pages,
.info {
    display: flex;
    flex-direction: column;
}

.list_title {
    color: #d98324;
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}

.pages a {
    color: #005247;
    margin-top: 12px;
    font-size: 20px;
    text-decoration: none;
    transition: color .2s;
}

.pages a:hover {
    color: #d98324;
}

.info p {
    margin-top: 12px;
    font-size: 20px;
}

.info>p>a {
    color: #005247;
    text-decoration: none;
    transition: color .2s;
}

.info>p>a:hover {
    color: #d98324;
}


.map {
    display: flex;
    justify-content: center;
}

iframe {
    vertical-align: middle;
    width: 200px;
    height: 200px;
}

.footer_plateform {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-gap: 20px;

    margin-top: 96px;
}

.footer_plateform>a {
    font-size: 2rem;
    width: 48px;
    height: 48px;
    color: white;
    background-color: #005247;
    border-radius: 50%;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: box-shadow .2s;
}

.footer_plateform>a:hover {
    box-shadow: 0 8px 15px -1px #005247;
}

.copy {
    text-align: center;
    margin-top: 64px;
    font-size: 16px;
}

@media screen and (max-width: 426px) {

    .footer_grid {
        grid-row-gap: 24px;
        grid-template-columns: 1fr;
    }

    .footer_logo {
        text-align: left;
    }

    .image {
        max-width: 26%;
    }

    .footer_plateform {
        margin-top: 48px;
    }

    .copy {
        margin-top: 44px;
        font-size: 14px;
    }

}